.footer {
  background-color: #c7c7c7;
  padding: 3rem 1.5rem 6rem;
}

html {
  height: 100%;
}

body {
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "alkatip";
}

.page-footer {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  width: 100%;
}

.is-centered {
  display: block;
  margin: 0 auto;
}

.is-rounded {
  border-radius: 3%;
}

.hero.is-primary {
  background-color: #057cbd;
  color: white;
}

@font-face {
  font-family: 'alkatip';
  src: url('../fonts/ALKATIP-TOR.woff2') format('woff2'),
  url('../fonts/ALKATIP-TOR.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.is-2 {
  font-size: 1.7rem !important;
}

.content {
  direction: rtl ;
}