<head>
    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="{{site.author}}">
    <meta name="description" content="{{site.description}}">
    <link rel="shortcut icon" type="image/png" href="http://via.placeholder.com/128x128">
    <style>
      @font-face {
        font-family: 'Alkatip';
        src: url('{{ "/fonts/ALKATIP-TOR.woff2" | relative_url }}') format('woff2'),
             url('{{ "/fonts/ALKATIP-TOR.woff" | relative_url }}') format('woff');
        font-display: swap;
      }
      body, .nav, .nav-item, button, input, select, textarea {
        font-family: 'Alkatip', 'UKIJ Tuz', 'Microsoft Uighur',
                     'Noto Naskh Arabic', Arial, sans-serif !important;
        direction: rtl;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css">
    <link rel="stylesheet" href="{{ '/css/styles.css' | relative_url }}">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BLDJH96FKW"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-BLDJH96FKW');
    </script>

    <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/UyCoder/paydilar/master/pics/favicon.png">

</head>
